
.header{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	margin: 0 1.35rem;
	height: 3rem;
	line-height: 40px;
	font-weight: bold;
	font-size: 2rem;
	text-align: center;
	padding: 10px 10px;
	background-color: #69f;
	color: white;
}
@media screen and (min-width:650px){
	.header{
		width: 680px;
		margin: 0 auto;
	}
}